.form-group
  = f.label :correct_answer, :class => 'col-sm-2 control-label'
  .col-sm-10
    %h5 Raw (text, ASCIImath)
    = f.text_area :content, :class => 'form-control'
    %h5 Preview
    #answer_preview