.page-header
  %h1 Leaderboard

%table.table-hover.leaderboard
  %tr
    %th.lb Rank
    %th.lb Name
    %th.lb Score
  - @entries.each do |entry|
    %tr
      %td.ld= entry[:rank]
      %td.ld= entry[:member]
      %td.ld= entry[:score].to_i

= paginate @page_array
