%h3 How to input formula:
%table.table
  %thead
    %tr
      %th To enter
      %th You type
  %tbody
    %tr
      %td `9x10^{-56}`
      %td 9x10^-56
    %tr
      %td `x = {1 \over 34}`
      %td x = {1 \over 34}
    %tr
      %td `\sqrt{b^2-4ac}`
      %td \sqrt{b^2-4ac}
    %tr
      %td `{9.8*10^5}\over{5*40^{-9}}`
      %td {9.8*10^5}\over{5*40^{-9}}
    %tr
      %td `1 \over x^{54}`
      %td 1 \over x^{54}
    %tr
      %td `\cos \theta`
      %td \cos \theta
    %tr
      %td `\pi`
      %td \pi
    %tr
      %td `\Delta{x}`
      %td \Delta{x}
