.page-header
  = link_to schools_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_school_path(@school), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show school

%dl.dl-horizontal
  %dt Name:
  %dd= @school.name
  %dt Exam board:
  %dd= @school.exam_board.name
