@import 'forms';
@import 'questions';
@import 'bootstrap-sprockets';
@import 'onlychaos';
@import 'bootstrap';

/*// MAIN //*/

body {
  background-color: black;
  width: 80%;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 0%;
}

/*// HEADER //*/

header {
  height: 45px;
}

.nav.right{
  float: right;
  /*text-align: right;*/
  /*display: inline-block;*/
}

.nav.left {
  float: left;
}

.logo {
  font-weight: 900;
}

.page-header {
  margin-top: 5%;
}

.nav.right h3 {
  font-size: 1.5em;
}

/*// TEXT //*/

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 2em;
}

p {
  font-family: 'Lato', sans-serif;
  color: gray;
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 0px;
}

/*// LINKS //*/

a:link {
  color: gray;
}

a:visited {
  color: gray;
}

.nav {
  text-decoration: none;
}

// ALERTS // -> Still need to fix!

.alerts {
  margin-top: 5%;
  position: relative;
}

.alert {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: red;
  position: relative;
  .alert-warning {
    color: red;
  }
  .alert-success {
    color: green;
  }
}

.button.close {
  // position: absolute;

  float: right;
  margin-right: 80%;
  // text-align: right;
}
