@import 'forms';
@import 'questions';
@import 'tests';
@import 'bootstrap-sprockets';
@import 'onlychaos';
@import 'bootstrap';
@import 'dashboard';
@import "social-share-button";

/*// MAIN //*/

body {
  background: #1083a3; /* Old browsers */
  background: -moz-linear-gradient(top,  #1083a3 0%, #44a4b5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1083a3), color-stop(100%,#44a4b5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1083a3 0%,#44a4b5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1083a3 0%,#44a4b5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1083a3 0%,#44a4b5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1083a3 0%,#44a4b5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1083a3', endColorstr='#44a4b5',GradientType=0 ); /* IE6-9 */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0%;
  text-align: center;
  padding-bottom: 20px;
}

/*// HEADER //*/

header {
  height: 45px;
}

.nav.right{
  float: right;
}

.nav.left {
  float: left;
}

a.logo {
  font-size: 2em;
  font-weight: 100;
}

b {
  font-size: 2em;
}

a.logo a:hover {
  text-decoration: none;
}

.page-header {
  margin: 5% 0 2% 0;
  // width: 60%;
  // margin: auto;
}

.nav.right ul.nav-right {
  font-size: 1.2em;
  font-weight: 100;
  // width: 150px;
}

.nav.right li.nav-right {
  border: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.nav.right a {
  border: none;
  color: #fff;
  float: left;
  width: 65px;
}

.nav.right a:hover {
  text-decoration: none;
}

.nav.left ul {
  font-size: 1.2em;
  font-weight: 100;
}

.nav.left ul ul {
  display: none;
}

  .nav.left ul li:hover > ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
  }

  .nav.left ul li:hover > li {
    float: none;
  }

.nav.left ul {
  list-style: none;
  position: relative;
  display: inline-table;
}
  .nav.left ul:after {
    content: " ";
    clear: both;
    display: block;
  }

.nav.left li {
  border: none;
  margin: 0;
  padding: 8px 8px;
}

  .nav.left ul li a {
    color: #fff;
    border: none;
  }

.nav.left a {
  border: none;
  color: #fff;
}

.hr {
  margin-bottom: 20px;
}


/*// TEXT //*/

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h6 {
  font-size: 1.2em;
  margin: 0;
}

h7 {
  font-size: 1em;
}

p {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 0px;
}

/*// LINKS //*/

a:link {
  color: #292929;
}

a:visited {
  color: #292929;
}

.nav {
  text-decoration: none;
}

// ALERTS // -> Still need to fix!

.alerts {
  margin-top: 5%;
  position: relative;
}

.alert {
  font-family: 'Lato', sans-serif;
  text-align: center;
  position: relative;
  margin-top: 6%;
  padding: 6px;
}
  .alert-warning {
    color: #a67643;
    background-color: #fcf7e4;
  }
  .alert-success {
    background-color: #e3edd8;
    color: #4d713c;
  }
  .alert-info {
    background-color: #d9edf7;
    color: #40718d;
  }
  .alert-danger {
    background-color: #ccc;
    color: #a04d49;
  }

.button.close {
  float: right;
  margin-right: 80%;
}

// li.alert {
//
// }

li.alerts {
  color: #a04d49;
  border: none;
  display: inline-block;
  padding: 0 10px 0 10px;
}

// PAGE HEADER //
.page-header h1 {
  clear: both;
}

.form-question {
  width: 90%;
  // clear: both;
}

// FOOTER//

footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  color: #fff;
  height: 20px;
}
