@import 'forms';
@import 'questions';
@import 'tests';
@import 'bootstrap-sprockets';
@import 'onlychaos';
@import 'bootstrap';

/*// MAIN //*/

body {
  background: #1083a3; /* Old browsers */
  background: -moz-linear-gradient(top,  #1083a3 0%, #44a4b5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1083a3), color-stop(100%,#44a4b5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1083a3 0%,#44a4b5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1083a3 0%,#44a4b5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1083a3 0%,#44a4b5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1083a3 0%,#44a4b5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1083a3', endColorstr='#44a4b5',GradientType=0 ); /* IE6-9 */
  width: 80%;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 0%;
  text-align: center;
}

/*// HEADER //*/

header {
  height: 45px;
}

.nav.right{
  float: right;
}

.nav.left {
  float: left;
}

.logo {
  font-weight: 900;
}

.page-header {
  margin-top: 5%;
}

.nav.right ul {
  font-size: 1.2em;
  font-weight: 100;
  width: 150px;
}

.nav.right li {
  border: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.nav.right a {
  // display: inline;
  border: none;
  color: #fff;
  float: left;
  width: 65px;
}

.nav.right a:hover {
  text-decoration: none;
}

/*// TEXT //*/

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2em;
}

p {
  font-family: 'Lato', sans-serif;
  color: gray;
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 0px;
}

/*// LINKS //*/

a:link {
  color: gray;
}

a:visited {
  color: gray;
}

.nav {
  text-decoration: none;
}

// ALERTS // -> Still need to fix!

.alerts {
  margin-top: 5%;
  position: relative;
}

.alert {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: red;
  position: relative;
  .alert-warning {
    color: red;
  }
  .alert-success {
    color: green;
  }
}

.button.close {
  // position: absolute;

  float: right;
  margin-right: 80%;
  // text-align: right;
}
