.leading {
  font-size: 1.2em;
}

div.boxes {
  border: solid 1px #fff;
  height: 200px;
  width: 200px;
  margin: 25px;
  display: inline-block;
}

p.grade {
  font-size: 6em;
  font-weight: 400;
  color: #fff;
}

div.tutorial {
  width: 62%;
  margin: auto;
  // text-align: left !important;
  padding-top: 25%;
}

div.tutorial h2 {
  text-align: left;
  margin-top: 15px;
}

a:link.test_link {
  color: #fff;
  // font-size: 2em;
  font-weight: 100;
  text-decoration: underline;
}

// BUTTON //

.big.button {
  background: transparent;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  border: solid #fff 2px;
  // font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.big.button:hover {
  background: #1f6899;
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .charts {
    width: 58em;
    margin-left: 13em;
  }
}
