// FORM //

form {
  display: inline-block;
  p span {
    display: block;
  }
}

@media only screen and (min-width: 40.063em) {
  form p span {
    display: inline-block;
  }
}

section.form {
  position: relative;
  text-align:  center;
  margin-top: 8%;
}

section.form-signup {
  margin-top: 8%;
}

.form-label {
  display: inline-block;
}

#new_test {
  width: 40%;
}


// INPUT //

input[type=email], [type=password], [type=text] {
  font-family: 'Lato', sans-serif;
  // padding-left: 15px;
  border: none;
  width: 300px;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  box-shadow: none;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  // text-transform: uppercase;
  padding-bottom: 2%;
  display: inline-block;
  text-align: center;
}

.year-group {
  // padding-left: 0 !important;
  color: black;
}

label {
  color: white;
  font-size: 1em;
  font-weight: normal !important;
}

.radio label {
  padding-left: 50px !important;
  // margin-bottom: 50px;
}

.category {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  text-align: left;
}

input[type="checkbox"] {
  float: right;
  // background-color: transparent;
  z-index: -1000;
}

.category-label {
  width: 150px;
}

.radio-toolbar input[type="radio"] {
  display: none;
  // opacity: 0;
  margin: 10px;
  // text-align: center;
}

.radio-toolbar label {
  display: inline-block;
  background-color: transparent;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  padding: 8px 60px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  // margin-bottom: 50px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: white;
  color: gray;
}

input[type="range"] {
  position: relative;
  // height: 12px;
  // margin-bottom: 20px;
  cursor: pointer;
  // background: #ebedef;
  // border-radius: 32px;
  box-shadow: none;
}

.form-object {
  margin-top: 8%;
  position: relative;
}

div.col-sm-8.range {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div.duration {
  border: solid #fff;
  border-width: 1px;
  width: 8em;
  color: #fff;
  font-weight: 100;
}

div.duration label {
  font-size: 0.7em;
}

span#time {
  font-size: 2em;
}

span#A2time {
  font-size: 2em;
}

.form-object {
  overflow: auto;
}

.duration {
  float: right;
  display: inline-block;
}



// BUTTON //

.normal.button {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 0.8em;
  font-weight: 400;
  background: #e8edf0;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 10px;
  // text-align: center;
}

.normal.button.right {
  float: right;
}

p.update {
  margin-top: 10px;
  margin-bottom: 10px;
}
