.question-description {
  color: #fff;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;
}

.question-text {
  font-weight: 400;
  text-align: left;
  border: none;
}

ol.question-parts {
  list-style-type: lower-alpha;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

ol.question-part {
  list-style-type: lower-alpha;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}


ol.question-parts > li {
  // position: relative;
  // margin-bottom: 20px;
  // // padding-left: 0em;
  // min-height: 3em;
  display: list-item;
  padding: 1px 1px 1px 1px;
}

ol.question-parts > li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 1.8em;
  line-height: 1;
  font-size: 3em;
}

.question-parts{
  .form-group{
    clear: both;
  }
  .col-xs-6{
    margin: 0;
  }
  .answer-preview{
    line-height: 20px;
  }
}

em {
  float: right;
}

textarea.form-control {
  // width: 50%;
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .answer-box {
    float: left;
  }
}

.answer-box {
  display: inline-block;
  width: 50%;
  float: right;
}

div.preview {
  display: inline-block;
  margin-left: 2em;
  // padding-bottom: 4em;
}

h5.hint {
  font-size: 1.2em;
  color: #fff;
  text-align: left;
  margin-bottom: 0;
}

p.question-hint {
  text-align: left;
  color: #fff;
}

li.question_parts {
  border: none;
}
