div.results {
  width: 62%;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  background-color: transparent;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  padding: 8px 60px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

li a a:focus {
  padding: 0 1em;
  text-decoration: none;
}

.active {
  background-color: white;
  color: gray;
}

div.charts {
  // width: 60%;
  margin: auto;
  // height: 250px;
}

div.chart {
  margin-top: 20px;
  margin-bottom: 20px;
  // height: 250px;
}

// QUESTIONS //

div.questions {
  clear: both;
  margin: auto;
}

.question-title {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: #fff;
}

hr {
  // width: 60%;
}

.question {
  text-align: center;
}
