// div.container {
//   position: relative;
// }

div.results {
  width: 70%;
  margin: auto;
}

div.dashboard {
  float: right;
}

div.dashboard_bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

ul.tabs {
  list-style-type: none;
  margin-top: 50px;
  // margin: 0;
  padding: 0;
}

li {
  display: inline;
  background-color: transparent;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  padding: 8px 60px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

li a a:focus {
  padding: 0 1em;
  text-decoration: none;
}

.active {
  background-color: white;
  color: gray;
}

p.questions {
  color: #fff;
}

ul.tabs-exams {
  list-style-type: none;
  margin-top: 30px;
  // margin: 0;
  padding: 0;
}

ul.tabs-exams li {
  display: inline;
  background-color: transparent;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  padding: 1.5% 2%;
  overflow: auto;
  // margin-left: 20px;
  // margin-right: 20px;
}

ul.tabs-exams li a a:focus {
  padding: 0 1em;
  text-decoration: none;
}

ul.tabs-exams .active {
  background-color: white;
  color: gray;
}


div.charts {
  // width: 90%;
  margin: auto;
  // height: 250px;
}

div.chart {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  // height: 250px;
}

// QUESTIONS //

div.questions {
  clear: both;
  margin: auto;
}

.question-title {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: #fff;
}

hr {
  // width: 60%;
}

.question {
  text-align: center;
}

// ANSWERS //

.answer_preview {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  padding-top: 2%;
}

// FORMULAS //

.formulas {
  font-weight: 900;
  text-decoration: underline;
}
