.page-header
  = link_to categories_path, :class => 'normal button' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to @category, :class => 'normal button' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing category

= render 'form'
